.newsletter {
    background: #eee;
    padding: 2rem 0;
    @include breakpoint-down(md) {
        text-align: center;
    }
    .grid {
        display: grid;
        gap: 1rem;
        align-items: center;
        @include breakpoint-up(md) {
            grid-template-columns: 1fr 1fr;
        }
    }
    p {
        margin-bottom: 0;
    }
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    input {
        border: 2px solid #ddd;
        font-size: 1.2rem;
        padding: 1rem;
        margin-bottom: 1rem;
        @include breakpoint-down(md) {
            width: 100%;
        }
        @include breakpoint-up(md) {
            margin-bottom: 0;
        }
    }
    button {
        background: $accent;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
    }
}

footer {
    padding: 4rem 0 0;
    h1 {
        font-weight: 700;
        margin-bottom: 1rem;
    }
    li {
        margin-bottom: 0.5rem;
        a {
            @include tran;
            &:hover {
                color: $accent;
            }
        }
    }
    svg {
        width: 1.2rem;
        height: 1.2rem;
    }
    .social-links {
        display: flex;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: #eef;
            padding: 0.5rem;
            margin-right: 0.5rem;
            color: $primary;
            @include tran;
            &:hover {
                background: $accent;
                color: white;
            }
            @include breakpoint-up(md) {
                padding: 1rem;
            }
        }
    }
    .bottom {
        padding: 2rem 0;
        @include breakpoint-up(md) {
            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}
.ap {
    @include breakpoint-up(md) {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
.affiliations {
    ul {
        display: flex;
        align-items: center;
        li {
            background: transparentize(white, 0.4);
            border-radius: 0.25rem;
        }
    }
    img {
        height: 3rem;
    }
}
.payments {
    text-align: center;
    img {
        height: 1.2rem;
    }
}
